BOT_TOKEN=example
DATABASE_URL=postgresql+asyncpg://user:password@host/db_name
LOGGER_LEVEL=INFO
AI_API_KEY=example
AI_BASE_URL=https://example.com
YOOMONEY_BASE_URL=https://example.com
YOOMONEY_REDIRECT_URL=https://example.com
YOOMONEY_CLIENT_ID=example
YOOMONEY_CLIENT_SECRET=example